#################################################
# .gitignore file used to maintain a clean repo #
#################################################

########################################
# Directories
########################################

########################################
# Files
########################################

###################
# Configuration
# files
###################
config*.inc.php

###################
# Log files
###################
*.log

###################
# Gedit files
###################
*.*~

###################
# Vim files
###################
*.swp
*.swo
*.swn
.vim
