#dock
{
	position:relative;
	left:300px;
	top:-20px;
	z-index:98;
}

* html #dock
{
	left:0;
}

#dock li {
	float:left;
	list-style: none;
}
#dock li {
	width: 50px;
	text-align:center !important;
}
#dock img {
	margin-left:auto !important;
	margin-right:auto !important;
	border: none;
}
.dock_min {
	width: 35px;
	height: 35px;
}
.dock_max {
	width: 40px;
	height: 40px;
}
